<!DOCTYPE html>
<html>

<head>
    <title>Go ToDo App</title>
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://unpkg.com/idiomorph"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <link rel="stylesheet" href="/assets/main.css?{{.Timestamp}}">
</head>

<body hx-ext="morph" id="body" class="code pa4 lh-copy mw7">

    {{ block "main" . }}{{ end }}

    <script>
        document.addEventListener('htmx:wsAfterMessage', function (event) {
            console.log("WebSocket message received:", event.detail);
            // Directly fetching the updated list from the server
            htmx.ajax("GET", "/", {
                target: "#main",
                select: "#main",
                swap: "morph"
            });
        });
    </script>
</body>

</html>
