{{define "main"}}

<header class="container">
  <hgroup>
    <h1>Realtime Todos</h1>
    <p>This is a Go TODO App using WebSockets, HTMX, and DOM-Morphing brought to you by Bijan.</p>
  </hgroup>
</header>

<form hx-post="/add" hx-swap="morph" hx-target="#app" class="" hx-preserve="true" id="addform"
  _="on submit put '' into #titleinput.value">
  <fieldset role="group">
    <input type="text" name="title" required placeholder="Master HTMX" class="" autofocus="true" id="titleinput">
    <input type="submit" value="+ Add Todo">
  </fieldset>
</form>

<main id="main">
  <div id="list-wrapper">
    <ul id="list" class="">
      {{range .TodoList}}
      <li class="grid" id="list_item_{{.ID}}">
        <div>
          <span class="{{if .Done}}done{{else}}not-done{{end}}">{{.Title}}</span>
        </div>
        <div class="grid">
          <button hx-get="/showrename?id={{.ID}}" hx-target="#list_item_{{.ID}}" hx-trigger="click"
            class="outline secondary">
            Rename
          </button>

          <button hx-patch="/toggle?id={{.ID}}" hx-swap="morph:innerHTML transition:true" hx-target="#app"
            hx-trigger="click" class="outline secondary">
            {{if .Done}}Undo{{else}}Done{{end}}
          </button>

          <button hx-delete="/delete?id={{.ID}}" hx-swap="morph" hx-target="#list-wrapper" hx-select="#list"
            hx-trigger="click" class="outline secondary">
            Delete
          </button>
        </div>
      </li>
      {{end}}
    </ul>
  </div>

  {{if .TodoList}}
  <div class="">
    <button hx-post="/clear" hx-swap="morph" hx-target="#list-wrapper" hx-select="#list" hx-trigger="click">Clear
      All</button>
    <button hx-post="/clearcompleted" hx-swap="morph" hx-target="#list-wrapper" hx-select="#list"
      hx-trigger="click">Clear Completed ({{.CompletedTodosCount}})</button>
  </div>
  {{end}}
</main>
{{end}}